
body{
    background-color: cadetblue;
    color: aliceblue;
}
h1{
    color: black;
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}